
.movie-search-container {
    padding: 16px;
  }
  
  .movie-search-title {
    margin-bottom: 16px;
  }
  
  .movie-search-input {
    margin-bottom: 16px;
  }
  
  .no-results-message {
    margin-top: 16px;
    color: #f44336;
  }
  
  .data-grid-container {
    height: 400px;
    width: 100%;
  }
  
  .data-grid {
    border: 1px solid #ccc;
  }
  
  .data-grid-row {
    cursor: pointer;
  }
  
  .data-grid-row:hover {
    background-color: #f3f3f3;
  }
  
  .data-grid-cell {
    padding: 8px;
  }
  